<div class="mku-scoreboard-root border border-right p-3">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Username</th>
                <th class="text-center">Score</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of room?.users; index as u">
                
                <td><div class="">{{u + 1}}.</div></td>

                <td><div [ngClass]="{ 'mku-bold': user.id === userId }">{{calculateUserName(user)}}</div>
        
                <td><div class="mku-just-center">{{getPlayerScore(user.id)}}</div></td>

                <td class="text-center">
                    <div class="mku-just-center input-group">
                        <button title="Ban user" class="btn btn-dark bi bi-dash-circle" *ngIf="isOwner && user.id !== userId"></button>
                        <button title="Kick user" class="btn btn-dark bi bi-trash-fill" *ngIf="isOwner && user.id !== userId"></button>
                    </div>
                </td>

            </tr>
        </tbody>
    </table>
</div>
