.scoreboard-root {
    height: 100%;
    /*border: 2px solid black;*/
    border: 1px solid #d6d5d5;
    background-color: #ffffff;
    overflow-y: auto;
}

td {
    padding:0px;
    padding-left: 5px;
    padding-right: 5px;
}

td div {
    height: 39px;
    display : flex;
    align-items : center;   
}

td div.mku-just-center{
    justify-content: center;
}

th div.mku-just-center{
    justify-content: center;
}

.mku-bold {
    font-weight: bold;
}