<div class="login">
    <main>
        <div class="content text-center">
            <h1 class=fw-bold>Cards Against Humanity</h1>
            <h3>Please enter your username:</h3>
            <div class="container">
                <div class="col-md-5 mx-auto">
                    <div class="input-group m-5">
                        <input id="username-input" class="form-control" aria-describedby="button-enter-username" placeholder="Username" [(ngModel)]="username" (keyup.enter)="login()"/>
                        <button class="btn btn-dark" type="button" id="button-enter-username" (click)="login()">
                            <span class="bi bi-caret-right-fill mx-4"></span>
                        </button>
                    </div>
                </div>
                
                <p id="login_error" class="text-danger">{{errorMessage}}</p>
            </div>
        </div>
    </main>
</div>
