<div class="game-buttons row" id="game_buttons">

    <ng-container *ngIf="this.game()">

        <ng-container><div class="my-2">{{calculateTip()}}</div></ng-container>    
        
        <ng-container *ngIf="showConfirmButton()">
            <button class="btn btn-dark col-md-1 h-50 my-auto" [disabled]="isConfirmDisabled()" (click)="confirm()">Confirm</button>
        </ng-container>

        <ng-container *ngIf="showNextRoundButton()">
            <button class="btn btn-dark col-md-1 h-50 my-auto" (click)="nextRound()">Next round</button>
        </ng-container>
    
    </ng-container>
</div>