<div class="pt-4">
  <div class="container">
  
    <h1>Hello, players!</h1>
    <p>Single page application that let you play Cards Against Humanity with your friends.</p> 
    <p>Go to the <b><a class="link-dark" [routerLink]="['/rooms']">Rooms</a></b> page and join a room.<br/>
      Or create your own room, choose the best settings, invite your friends and start playing.</p>
    <hr/>
    
    <p>Features:</p>
    <ul>
      <li>Creating and customizing game rooms</li>
      <li>Importing Cards and Sentences from a file</li>
      <li>Playing the game</li>
      <li>Basic log and chat</li>
    </ul>
    
    <hr>
    
    <p>Still to do:</p>
    <ul>
      <li>saving Cards and Sentences to a file</li>
      <li>images (memes) as answers</li>
      <li>customizable color of usernames in chat</li>
      <li>better looking chat</li>
      <li>answers saved in the chat</li>
      <li>filter in log</li>
      <li>Invite links</li>
    
    </ul>
  
  </div>  
</div>