<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      
      <a class="navbar-brand" [routerLink]="['/']">CardsAgainstAngular</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="navbar-collapse collapse d-sm-inline-flex" [ngClass]="{ show: isExpanded }">
        
        <ul class="navbar-nav flex-grow">
          <div class="justify-content-start">
            <ng-container *ngIf="authentication">
              <li class="nav-item" [routerLinkActive]="['link-active']"><a class="nav-link text-dark" [routerLink]="['/rooms']">Rooms</a></li>
            </ng-container>
          </div>
        </ul>
      
        <div class="ms-auto">
          <ul class="navbar-nav">
            <ng-container *ngIf="authentication">
              <li class="nav-item"><a class="nav-link text-dark">Logged as {{username}}</a></li>
              <li class="nav-item"><a class="nav-link text-dark" (click)="logout()">Logout</a></li>
            </ng-container>
          </ul>
        </div>
      
      </div>

    </div>
  </nav>
</header>
