.room {
    /* display: grid; */
    /* grid-template-rows: 1fr auto 230px; */
    height: calc(100vh - var(--nav-height));
    width: 100%;
}

.room-main {
    height: calc(100vh - var(--nav-height) - var(--room-footer-height));
    overflow: hidden;
}

.room-status-message {
    margin-top: 20%;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.btn-up {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.btn-down {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
