<div class="room">
    @if(room())
    {
        <div class="room-main">
            <div class="container h-100">   
                <!-- before game start -->
                @if(room()?.state === 0) {
                    @if(isOwner()) {
                        <app-game-config class="d-block h-100"></app-game-config>
                    }@else if(isInRoom()) {
                        <div class="room-status-message text-center"><h5>Wait for owner of the room to start a new game.</h5></div>  
                    } @else {
                        <div class="room-status-message text-center">You are in the observer mode. todo: Join button</div>
                    }
                }
                
                <!-- ingame -->
                @if(room()?.state === 1 || room()?.state === 2) {
                    <app-game class="d-block h-100"></app-game>
                }
            </div>
        </div>
        <!-- <hr/> -->
        <app-room-footer/>
    } @else {
        <div class="d-flex justify-content-center mt-5">
            <app-loading-indicator/>
        </div>
    }
</div>