<div class="game-board">
    <ng-container *ngIf="game">
        @for(cardSet of game()?.chosenCards; track cardSet.id) {
            <!-- ShowCards --> 
            <div 
                class="card-set" 
                [ngClass]="{
                    'card-set-selected': isSelected(cardSet), 
                    'card-set-pickable': isPickable(cardSet),
                    'card-set-winner': cardSet.winner
                }" 
                (click)="selectCard(cardSet)"
            >
                @for(card of cardSet.cards; track card.id) {
                    <p class="card" [ngClass]="{'card-selected': isSelected(cardSet),'card-winner': cardSet.winner}">
                        @if(ifShowValues()) {
                            {{card.value}}
                        }
                    </p>  

                }
            </div>    
        }
    </ng-container>
</div> 