@if(game()) {  
    <div class="game">

        <div class="game-sentence">
            <h5>
                {{game()?.currentSentence?.value}}
            </h5>  
        </div> 

        @if(game()?.state === 3 || game()?.state === 4) {
            <div class="game-winner-info">
                @if(game()?.state === 3) {
                    <h2 class="text-success">
                        {{ winnerPlayerName() }} scores a point! ヾ(＠⌒ー⌒＠)ノ
                    </h2>
                } 
                @if(game()?.state === 4) {
                    <h2 class="text-success">
                        {{winnerPlayerName()}} scores a point and wins! 
                        <br/>
                        Congratulations! 🎆🎆🎆
                    </h2>
                }
        
            </div>        
        }    
        
        <app-game-board></app-game-board>
        <app-game-buttons></app-game-buttons>
        <app-game-hand></app-game-hand>
    </div>
}     