<div class="game-config">
    @if(!showDecks()) {
        <div class="container justify-content-between mw-100 h-100">
            
            <div class="row game-settings">
                <!-- SENTENCES -->
                <div class="col-4 h-100">
                    <app-game-config-sentences></app-game-config-sentences>
                </div>
        
                <!-- GAME CONFIG -->
                <div class="game-config-panel col position-relative h-100">
                    <h3 class="text-center game-config-title">Game settings</h3>
                    <div class="row">
                        <!-- <div class="game-header" id="game-header">  -->
                            <!-- Max players -->
                            <div class="form-group row m-1">
                                <span class="col-sm-6 col-form-label">Number of players</span>
                                <div class="col-sm-6">
                                    <input 
                                        class="form-control text-center" 
                                        type="text" 
                                        readonly 
                                        [value]="room()?.users?.length + '/' + room()?.maxPlayers"
                                        [ngClass]="{'is-invalid text-danger' : !isEnoughPlayers()}"
                                    />
                                </div>
                            </div>
                            <!-- Cards in hand -->
                            <div class="form-group row m-1">
                                <label for="cardsInHandInput" class="w-50">Cards in hand</label>
                                <div class="input-group w-50">
                                    <button class="btn btn-dark bi bi-dash-lg" (click)="decreaseCardsPerHand()"></button>
                                    <input 
                                        id="cardsInHandInput" 
                                        class="form-control text-center" 
                                        type="number" 
                                        min=1 
                                        readonly
                                        [value]="this.cardsPerHand()" 
                                        [ngClass]="{'is-invalid text-danger' : !isEnoughCardsForPlayers()}"
                                    >
                                    <button class="btn btn-dark bi bi-plus-lg" (click)="increaseCardsPerHand()"></button>
                                </div>
                            </div>
                            <!-- @*Score to win*@ -->
                            <div class="form-group row m-1">
                                <label for="scoreToWinInput" class="w-50">Score to win</label>
                                <div class="w-50 input-group">
                                    <button class="btn btn-dark bi bi-dash-lg" (click)="decreaseScoreToWin()"></button>
                                    <input 
                                        id="scoreToWinInput" 
                                        class="form-control text-center" 
                                        type="number" 
                                        min=1 
                                        readonly
                                        [value]="scoreToWin()" 
                                        [ngClass]="{'is-invalid text-danger' : !isEnoughSentencesForTargetScore()}"
                                    >
                                    <button class="btn btn-dark bi bi-plus-lg" (click)="increaseScoreToWin()"></button>
                                </div>
                            </div>
                        <!-- </div> -->
                    </div>

                    <!-- Decks -->
                    <div class="game-config-decks m-0 p-0">
                        <div class="game-config-decks-panel mt-4">
                            <div class="game-config-decks-header text-center">Decks</div>
                            <ul class="list-group flex-grow-1">
                                @for(deck of room()?.decks; track deck.id) {
                                    <li class="list-group-item">
                                        <div class="my-auto">
                                            <span>{{deck.name}}</span>
                                            <button class="btn-close" (click)="removeDeck(deck.id)"></button>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="btn-group w-100">
                            <button class="btn btn-dark btn-bottom bi bi-boxes" title="Browse decks" (click)="loadDecks()"></button>
                            <button class="btn btn-dark btn-bottom bi bi-plus-square-fill" disabled title="Save as a new deck (todo)"></button>
                        </div>
                    </div>

                    <!-- Buttons -->
                    <div class="row justify-content-center text-center">
                        <!-- <button class='btn btn-dark mt-2' ">Browse decks</button>
                        @if(!showNewDeckInput()) {
                            <button class='btn btn-dark mt-2' (click)="showNewDeckInput.set(true)">Save as a new deck...</button>
                        } @else {
                            <div class="input-group w-100  mt-2">
                                <input class="form-control" type="text" placeholder="Type a name for the deck..." />
                                <button class="btn btn-dark bi bi-plus-circle-fill"></button>
                                <button class="btn btn-dark bi bi-x-lg" (click)="showNewDeckInput.set(false)"></button>
                            </div>
                        } -->
                        <button [ngClass]="startGameConditions() ? 'btn-dark' : 'btn-outline-dark disabled'"  class="btn btn-dark mt-2" (click)="newGame()">Start game</button>
                        <div *ngIf="isError()" class="text-danger">{{this.error?.detail}}</div>            
                    </div>
                </div>
        
                <!-- @*CARDS*@ -->
                <div class="col-4 h-100">
                    <app-game-config-cards class="d-block h-100" [isEnoughCards]="isEnoughCardsForPlayers()"></app-game-config-cards>
                </div>
            </div>
        </div>
    } @else {
        <app-decks-browser (closeDecks)="handleCloseDecks()"/>
    }
</div>